.keyboard {
  width: 100%;  /* The parent container takes up 100% width */
  height: 30%;  /* Adjust the height as needed */
  display: flex;  /* Flexbox to arrange key groups in a row */
  position: relative;
}
.white-key-grouping {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
}
.black-key-grouping {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 0.9615%;
    display: flex;
}