.lane-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1.923%;
    height: 100%;
}

.note {
    width: 60%; /* 60% of the lane's width */
    height: 0.8%; /* 0.8% of the lane's height */
    background-color: gold; /* Add a color for visibility */
    border-radius: 8px;
    border-style: solid;
}