* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 786px;
    min-width: 1024px;
    overflow: hidden;
    overflow-y: auto;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
    position: relative;
}